
.winnerBracket{
    display: flex;
    justify-content: left;
}

.loserBracket{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 200px;
    margin-top: -25px;
}

.loserBracket .colOne .game{
    margin-top: -25px;
}
.loserBracket .colOne .bye{
    margin-top: 35px;
}
.loserBracket .colTwo .bye{
    margin-top: -1px;
    min-width: 120px;
}
.loserBracket .colThree .bye{
    margin-top: -240px;
    min-width: 120px;
}

.game{
    width: 190px;
    text-align: center;
    font-size: .90rem;
}

.bye{
    width: 190px;
    text-align: center;
    font-size: .90rem;
}
.colOne .game{
    min-width: 120px;
    margin-top: 160px;
}
.colOne .game .topTeam {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    position: relative;
}
.colOne .game .topTeam span {
    padding-left: 8px;
}
.colOne .game .topTeam span:last-child {
    padding-right: 8px;
}
.colOne .game .topTeam .score {
    margin-left: auto;
}
.colOne .game .topTeam:first-child {
    margin-bottom: -1px;
}
.colOne .game .bottomTeam {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    position: relative;
    margin-bottom: 30px;
}
.colOne .game .bottomTeam span {
    padding-left: 8px;
}
.colOne .game .bottomTeam span:last-child {
    padding-right: 8px;
}
.colOne .game .bottomTeam .score {
    margin-left: auto;
}
.colOne .game .bottomTeam:first-child {
    margin-bottom: -1px;
}
.colOne .game .gameInfo {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
}
.colOne .game .gameInfo span:last-child {
    padding-right: 8px;
}
.colOne .game .gameInfo .time {
    margin-left: auto;
}
.colOne .game .gameInfo:first-child {
    margin-bottom: -1px;
}
.colOne .bye{
    min-width: 120px;
}
.colOne .bye .topTeam {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    position: relative;
}
.colOne .bye .topTeam span {
    padding-left: 8px;
}
.colOne .bye .topTeam span:last-child {
    padding-right: 8px;
}
.colOne .bye .topTeam .score {
    margin-left: auto;
}
.colOne .bye .topTeam:first-child {
    margin-bottom: -1px;
}
.colOne .bye .bottomTeam {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    position: relative;
    margin-bottom: 30px;
}
.colOne .bye .bottomTeam span {
    padding-left: 8px;
}
.colOne .bye .bottomTeam span:last-child {
    padding-right: 8px;
}
.colOne .bye .bottomTeam .score {
    margin-left: auto;
}
.colOne .bye .bottomTeam:first-child {
    margin-bottom: -1px;
}
.colOne .bye .gameInfo {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
}
.colOne .bye .gameInfo span:last-child {
    padding-right: 8px;
}
.colOne .bye .gameInfo .time {
    margin-left: auto;
}
.colOne .bye .gameInfo:first-child {
    margin-bottom: -1px;
}

.colTwo{
    margin-bottom: 40px;
}
.colTwo .game{
    min-width: 120px;
    margin-bottom: 120px;
    margin-top: 60px;
}
.colTwo .game .topTeam {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    position: relative;
    padding-right: 8px;
}
.colTwo .game .topTeam span {
    padding-left: 8px;
}
.colTwo .game .topTeam span:last-child {
    padding-right: 8px;
}
.colTwo .game .topTeam .score {
    margin-left: auto;
}
.colTwo .game .topTeam:first-child {
    margin-bottom: -1px;
}
.colTwo .game .bottomTeam {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    position: relative;
    padding-right: 8px;
    padding-top: 15px;
    margin-bottom: 20px;    
}
.colTwo .game .bottomTeam span {
    padding-left: 8px;
}
.colTwo .game .bottomTeam span:last-child {
    padding-right: 8px;
}
.colTwo .game .bottomTeam .score {
    margin-left: auto;
}
.colTwo .game .bottomTeam:first-child {
    margin-bottom: -1px;
}
.colTwo .game .gameInfo {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
    position: relative;
    padding-top: 55px;
    padding-bottom: 35px;
    padding-right: 8px;
}
.colTwo .game .gameInfo span:last-child {
    padding-right: 8px;
    margin-top: -1px;
}
.colTwo .game .gameInfo .time {
    margin-left: auto;
}
.colTwo .game .gameInfo:first-child {
    margin-bottom: -1px;
}
.colTwo .bye {
    min-width: 120px;
    margin-top: 275px;
}
.colTwo .bye .topTeam {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    position: relative;
    padding-right: 8px;
}
.colTwo .bye .topTeam span {
    padding-left: 8px;
}
.colTwo .bye .topTeam span:last-child {
    padding-right: 8px;
}
.colTwo .bye .topTeam .score {
    margin-left: auto;
}
.colTwo .bye .topTeam:first-child {
    margin-bottom: -1px;
}
.colTwo .bye .bottomTeam {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    position: relative;
    padding-top: 15px;
    padding-right: 8px;
    margin-bottom: 20px;
}
.colTwo .bye .bottomTeam span {
    padding-left: 8px;
}
.colTwo .bye .bottomTeam span:last-child {
    padding-right: 8px;
}
.colTwo .bye .bottomTeam .score {
    margin-left: auto;
}
.colTwo .bye .bottomTeam:first-child {
    margin-bottom: -1px;
}
.colTwo .bye .gameInfo {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
    position: relative;
    padding-top: 55px;
    padding-bottom: 35px;
    padding-left: 8px;
}
.colTwo .bye .gameInfo span:last-child {
    padding-right: 8px;
    margin-top: -1px;
}
.colTwo .bye .gameInfo .time {
    margin-left: auto;
}
.colTwo .bye .gameInfo:first-child {
    margin-bottom: -1px;
}

.colThree{
    margin-top: 70px;
    margin-left: 8px;
}
.colThree .game{
    min-width: 120px;
    margin-bottom: 120px;
    margin-top: 60px;
}
.colThree .game .topTeam {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    position: relative;
    padding-right: 8px;
}
.colThree .game .topTeam span {
    padding-left: 8px;
}
.colThree .game .topTeam span:last-child {
    padding-right: 8px;
}
.colThree .game .topTeam .score {
    margin-left: auto;
}
.colThree .game .topTeam:first-child {
    margin-bottom: -1px;
}
.colThree .game .bottomTeam {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    position: relative;
    padding-top: 15px;
    margin-bottom: 20px;
    padding-left: 8px;
}
.colThree .game .bottomTeam span {
    padding-left: 8px;
}
.colThree .game .bottomTeam span:last-child {
    padding-right: 8px;
}
.colThree .game .bottomTeam .score {
    margin-left: auto;
}
.colThree .game .bottomTeam:first-child {
    margin-bottom: -1px;
}
.colThree .game .gameInfo {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
    position: relative;
    padding-top: 190px;
    padding-bottom: 190px;
    padding-left: 8px;
}
.colThree .game .gameInfo span:last-child {
    padding-right: 8px;
    margin-top: -1px;
}
.colThree .game .gameInfo .time {
    margin-left: auto;
}
.colThree .game .gameInfo:first-child {
    margin-bottom: -1px;
}
.colThree .bye {
    min-width: 120px;
}
.colThree .bye .topTeam {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    position: relative;
    padding-right: 8px;
}
.colThree .bye .topTeam span {
    padding-left: 8px;
}
.colThree .bye .topTeam span:last-child {
    padding-right: 8px;
}
.colThree .bye .topTeam .score {
    margin-left: auto;
}
.colThree .bye .topTeam:first-child {
    margin-bottom: -1px;
}
.colThree .bye .bottomTeam {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    position: relative;
    padding-top: 15px;
    padding-right: 8px;
    margin-bottom: 20px;
}
.colThree .bye .bottomTeam span {
    padding-left: 8px;
}
.colThree .bye .bottomTeam span:last-child {
    padding-right: 8px;
}
.colThree .bye .bottomTeam .score {
    margin-left: auto;
}
.colThree .bye .bottomTeam:first-child {
    margin-bottom: -1px;
}
.colThree .bye .gameInfo {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
    position: relative;
    padding-top: 55px;
    padding-bottom: 35px;
    padding-left: 8px;
}
.colThree .bye .gameInfo span:last-child {
    padding-right: 8px;
    margin-top: -1px;
}
.colThree .bye .gameInfo .time {
    margin-left: auto;
}
.colThree .bye .gameInfo:first-child {
    margin-bottom: -1px;
}

.colFour{
    margin-top: 175px;
    margin-left: 8px;
}
.colFour .game{
    min-width: 120px;
}
.colFour .game .topTeam {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    position: relative;
    margin-top: 200px;
    padding-right: 8px;
}
.colFour .game .topTeam span {
    padding-left: 8px;
}
.colFour .game .topTeam span:last-child {
    padding-right: 8px;
}
.colFour .game .topTeam .score {
    margin-left: auto;
}
.colFour .game .topTeam:first-child {
    margin-bottom: -1px;
}
.colFour .game .bottomTeam {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    position: relative;
    padding-left: 8px;
}
.colFour .game .bottomTeam span {
    padding-left: 8px;
}
.colFour .game .bottomTeam span:last-child {
    padding-right: 8px;
}
.colFour .game .bottomTeam .score {
    margin-left: auto;
}
.colFour .game .bottomTeam:first-child {
    margin-bottom: -1px;
}
.colFour .game .gameInfo {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
    position: relative;
    padding-top: 250px;
    padding-bottom: 210px;
    padding-left: 8px;
}
.colFour .game .gameInfo span:last-child {
    padding-right: 8px;
    margin-top: -1px;
}
.colFour .game .gameInfo .time {
    margin-left: auto;
    padding-bottom: 50px;
}
.colFour .game .gameInfo:first-child {
    margin-bottom: -1px;
}

.colFive{
    min-width: 120px;
    margin-top: 625px;
    margin-left: 8px;
}
.colFive .line{
    margin-top: -18px;
    margin-bottom: 120px;
    border-top: 1px solid black;
    max-width: 120px;
}
.colFive .bye .bottomTeam {
    display: flex;
    align-items: flex-end;
    min-width: 120px;
    position:relative;
    padding-top: 5px;
    border-bottom: 1px dashed black;
    border-right: 1px dashed black;
}
.colFive .bye .bottomTeam span {
    margin-top: -1px;
    padding-left: 8px;
}
.colFive .bye .bottomTeam span:last-child {
    padding-right: 8px;
}
.colFive .bye .bottomTeam .score {
    margin-left: auto;
}
.colFive .bye .bottomTeam:first-child {
    margin-bottom: -1px;
}
.colFive .bye .topTeam {
    display: flex;
    align-items: flex-end;
    min-width: 120px;
    min-height: 175%;
    position:relative;
    border-bottom: 1px dashed black;
}
.colFive .bye .topTeam span {
    margin-top: -1px;
    padding-left: 8px;
}
.colFive .bye .topTeam span:last-child {
    padding-right: 8px;
}
.colFive .bye .topTeam .score {
    margin-left: auto;
}
.colFive .bye .topTeam:first-child {
    margin-bottom: -1px;
}
.colFive .bye .gameInfo{
    display: grid;
    min-width: 120px;
    padding: 200px 30px;
    border-right: 1px dashed black;
    border-top: 1px solid black;
    font-size: .85em;
}
.colFive .bye .gameInfo .time{
    margin-top: 10px;
    padding-bottom: 10px;
}
.colFive .bye .gameInfo .more{
    padding-bottom: 65px;
}

.colChamp{
    min-width: 10px;
    margin-bottom: 260px;
    margin-left: 8px;
}
.colChamp .line{
    align-items: center;
    justify-items: center;
    margin-top: 650px;
    min-width: 150px;
}
.colChamp .line .team{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
}
.colChamp .line .topTeam {
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
    padding-top: 10px;
    position: relative;
}

.bracketDisplay{
    display: flex;
    flex-direction: column;
}
.bracketInfo{
    display: flex;
    flex-direction: column;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    border-radius: 5px;
    box-shadow: 5px 5px hsla(0, 0%, 59%, 0.6);
    padding-left: 90px;
}
.bracketTitle{
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid hsla(0, 0%, 0%, 0.3);
    border-radius: 5px;
    align-self: end;
    margin-top: 20px;
    margin-right: 20px;
    padding: 15px;
}
.bracketTitle .name{
    display: inline;
    font-weight: lighter;
    font-size: .75rem;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: right;
}
.bracketTitle .label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
}
.bracketTitle .division{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bracketTitle .division{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bracketTitle .division .name{
    color: hsl(0, 100%, 50%);
}
.label{
    font-weight: bold;
}


