button{
    background-color: white;
    padding: 5px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0px 0px;
}
.tab-selected {
    background-color: hsl(240, 100%, 20%); /* Example background color */
    color: white; /* Example text color */
}

.bracket-tabs {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
}

.main{
    display: block;
    margin: 0 15px;
    width: 1200px;
}