@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.container {
    display: flex;
    background-image: url();
    background-color: hsl(240, 100%, 20%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-width: 1400px;
}
.headerItems {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    padding: 25px;
}

.headerH1{
    font-size: 3.5rem;
    font-family: Poppins;
    text-transform: uppercase;
    color: hsl(250, 0%, 100%);
    text-shadow: 2px 2px hsl(0, 0%, 50%);
    margin-left: 20px;
}

