.parking {
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
}

.rules {
    border: 1px solid black;
    width: 50%;
    display: flex;
    justify-items: center;
    text-align: center;
    margin: 10px 20px;
}

ul {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 15px;
}

li {
    margin: 5px;
    text-align: justify;
    list-style-position: inside;
}